<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.mapper.UserRoleMapper">

    <select id="getUserPermission" resultType="permission">
        SELECT p.*
        FROM sys_user_role r
                 INNER JOIN sys_permission_role pr ON r.role_id = pr.role_id
                 INNER JOIN sys_permission p ON pr.permission_id = p.permission_id
        WHERE r.user_id = #{uid}
    </select>
    <select id="getRoleNamesByUserId" resultType="java.lang.String">
        select role_name
        FROM sys_user_role ur
        INNER JOIN sys_role r ON r.role_id = ur.role_id
        WHERE ur.user_id = #{uid}
    </select>

</mapper>
